<% form_for(@dataset) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f, :legend => "Editing Dataset"} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dataset %> |
<%= link_to 'Back', datasets_path %>