<% form_for(@dataset_implementation) do |f| %>
  <%= render :partial => 'f', :object => f, :locals => {:legend => "Edit Dataset Implementation"} %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dataset_implementation %> |
<%= link_to 'Back', dataset_implementations_path %>