<% form_for(@dataset_implementation) do |f| %>
  <%= render :partial => 'f', :object => f, :locals => {:legend => "New Dataset Implementation"} %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', dataset_implementations_path %>