<% form_for(@site) do |f| %>
<fieldset>
  <legend>Editing Site</legend>
  <%= render :partial => 'f', :object => f %>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @site %> |
<%= link_to 'Back', sites_path %>